resources/ProviderServicePostcodes/postcodelist.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Records">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Row" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:simpleContent>
              <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="Postcode" use="optional"/>
                <xs:attribute type="xs:int" name="ServiceId" use="optional"/>
                <xs:attribute type="xs:string" name="PinCode" use="optional"/>
                <xs:attribute type="xs:string" name="Name" use="optional"/>
                <xs:attribute type="xs:string" name="OdsCode" use="optional"/>
                <xs:attribute type="xs:string" name="Address" use="optional"/>
                <xs:attribute type="xs:string" name="ServicePostcode" use="optional"/>
              </xs:extension>
            </xs:simpleContent>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>